*.suo
*.user
*.nupkg
*.nuspec
*.ide
*.lock
Facebook.ApiClient/.vs/
Facebook.ApiClient/_ReSharper.Caches/
Facebook.ApiClient/Facebook.ApiClient/obj/
Facebook.ApiClient/Facebook.ApiClient/bin/
SampleApplication/.vs/
SampleApplication/_ReSharper.Caches/
SampleApplication/packages/
SampleApplication/SampleApplication/bin/
SampleApplication/SampleApplication/obj/
